<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <% date = DateTime.now %>
    <h1>The date is <%="#{date.day.dayname}, #{date.month} #{date.day}, #{date.year}"%></h1>
  </body>
</html>
