<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <% date = Time.now.strftime("%A, % ")%>
    <h1>The date is <%="#{date.month} #{date.day}, #{date.year}"%></h1>
  </body>
</html>
